* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "consolas";
}

h1 {
    position: fixed;
    padding: 10px 30px;
    color: white;
    background-color: black;
    user-select: none; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

canvas {
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


#divMetriken {
    width: 20vw;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.7;
}


p {
    text-align: center;
    font-size: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    user-select: none;
    margin: 2%;
}

.sliderDiv {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    padding: 0% 5%;
    border-radius: 20px 20px;
    margin: 2%;
}

.sliderDiv input {
    padding: 0;
}

.sliderDiv p {
    color: black;
    text-align: left;
    padding: 0%;
    background-color: transparent;
}


#labelTotalLines {
    position: fixed;
    bottom: 0;
    padding: 10px 20px;
    color: white;
    background-color: black;
    user-select: none;
}



.glowSchatten {
    animation: glowSchatten 0.2s ease-in-out;
}

@keyframes glowSchatten {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 1px 1px 10px 20px white;
    }

    100% {
        box-shadow: none;
    }
}
